.weatherForecastCardContainer {
    display: grid;
    gap: 40px;
    align-items: start;
    font-size: 14px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    text-align: center;
        p {
            line-height: 24px;
        }
        .mainTitle {
            font-size: var(--fs-md);
        }
        .subTitle {
            font-size: var(--fs-sm);
        }
        span {
            font-style: italic;
        }
}

.nowButton {
    margin-bottom: 10px;
    transform: scale(1);
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
}

.weatherForecastCardAdvancedContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, auto));
    align-items: center;
    justify-content: space-around;
    font-weight: var(--fw-bold);
}

.weatherForecastCardAdvanced {
    display: grid;
    text-align: left;
}
