.search__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 182px;
    gap: 10px;
    align-items: top;
    justify-content: center;
}

.input__container {
    position: relative;
}

.close__button {
    position: absolute;
    top: 4px;
    left: 275px;
    // color: transparent;
    // z-index: 10;
    color: rgba(255,255,255,0.8);
    // text-shadow: 0 0 0 rgba(255,255,255,0.8);
        svg {
            width: 24px;
            height: 24px;
            fill: rgba(255,255,255,0.8);
            path {
                stroke: rgba(255,255,255,0.8);;
            }
        }
        &:hover {
            cursor: pointer;
        }
}

.select {
    height: 32px;
    width: 300px;
    background: rgba(255,255,255,0.3);
    border-radius: 4px;
    text-align: left;
    z-index: 2;
    font-size: 16px;
    font-family: var(--family);
    color: rgba(255,255,255,0.8);
    padding: 10px 30px;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
    outline: none;
        &::placeholder {
            visibility: visible;
            color: var(--white);
            opacity: 0.5;
        }
        &:focus::placeholder {
            visibility: hidden;
            transition: 0.3s;
            transform: scale(0);
        }
        &:hover {
            cursor: pointer;
        }
}

.disabled {
    background: rgba(255,255,255,0.1);
}

.select__container {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    display: grid;
    grid-template-rows: 34px;
    gap: 8px;
    height: 0px;
    width: 300px;
    overflow-y: scroll;
    background: rgba(255,255,255,0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 0;
    transition: 0.5s ease-in-out;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
        &.active {
            height: 140px;
            visibility: visible;
            opacity: 1;
        }
        &::-webkit-scrollbar-track {
            background: rgba(255,255,255,0.1);
        }
        &::-webkit-scrollbar {
            width: 15px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--white);
        }
        p {
            height: auto;
            align-items: center;
            justify-self: center;
            height: 34px;
            width: 250px;
            text-align: center;
            color: rgba(255,255,255,0.8);
            font-size: 16px;
            padding: 5px 10px;
        }
        p:hover {
            background-color: var(--orange);
            border-radius: 4px;
            cursor: pointer;
        }
}

.activeElement {
    background-color: var(--orange);
    border-radius: 4px;
}

@media (max-width: 700px) {
    .search__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto) 140px;
        align-items: center;
        justify-items: center;
        gap: 5px;
        height: auto;
    }
    .select__container {
        position: absolute;
        top: 180px;
        left: calc((max-width - 300px) / 2);
            p {
                font-size: 12px;
            }
    }
    .select {
        font-size: 12px;
    }
}