.weatherForecastCardContainer {
    display: grid;
    gap: 40px;
    align-items: start;
    font-size: 14px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    text-align: center;
        p {
            line-height: 24px;
        }
        .mainTitle {
            font-size: var(--fs-md);
        }
        .subTitle {
            font-size: var(--fs-sm);
        }
        span {
            font-style: italic;
        }
}

.weatherForecastCardAdvancedContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, auto));
    align-items: center;
    justify-content: space-around;
    font-weight: var(--fw-bold);
}

.weatherForecastCardAdvanced {
    display: grid;
    text-align: left;
}


.weatherForecastCardBriefContainer {
    display: grid;
    grid-template-columns: auto auto max-content auto auto;
    align-items: center;
        .arrow {
            width: 32px;
            height: 32px;
            fill: var(--white);
                &:hover {
                    cursor: pointer;
                }
            }
            .unactive {
                fill: rgba(255,255,255,0.1);
            }
        .rotate {
            transform: rotate(180deg);
        }
}

.fixedLeftPanel {
    width: 20px;
    height: 220px;
    background: rgba(255,255,255,0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 0px;
    z-index: 1;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);

}
.fixedRightPanel {
    width: 21px;
    height: 220px;
    background: rgba(255,255,255,0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 0px;
    z-index: 1;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}

.weatherForecastCardBriefVisible {
    width: 839px;
    overflow: hidden;
    background: rgba(255,255,255,0.1);
    padding: 20px 0px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}

.weatherForecastCardBrief {
    display: grid;
    grid-template-columns: repeat(39, 120px);
    align-items: center;
    height: 180px;
    font-size: 10px;
    transition: 0.7s ease-in-out;
    text-align: center;
        p {
            line-height: 14px;
        }
        .brief {
            display: grid;
            grid-template-rows: 14px 14px 28px 50px 14px;
            gap: 5px;
            padding: 10px 0px;
            align-items: center;
            justify-items: center;
            border-right: 1px dotted var(--white);
                &:hover {
                    cursor: pointer;
                    background: rgba(255,255,255,0.2);
                }
        }
        // :nth-child(7) {
        //     border-right: none;
        // }
}
